<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Walkathon'2020 by TechTatva, MIT Manipal." />
        <meta name="keywords" content="TechTatva Manipal MIT Walkathon Cancer Chadwick" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="img/Group 23.svg" />

    <title>Walkathon TechTatva'20</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>
        <!-- Picture -->
        <div class="container" id="landing"> 
            <div class="upper">
        <div class="main-head"><span class="walk">WALK</span>ATHON</div>
        
        <div class="second-head">2020</div>
        </div>
            <div class="lower">
                <img src="img/Group 16.svg" alt="Main" id="landing-img">
            </div>
        </div>

        <!-- content -->
        <div class="container" id="dets">
            <div class=" rose-img " >
                <img src="img/Group 23.svg" alt="Rose" class="roseR">
            </div>
            <div class="rose-text ">
               <p>This <span class="emp">Rose Day</span>,<br>
                walk with a purpose,<br>
                walk in the memory of those who<br>
                were lost to <span class="emp">Cancer</span>.</p> 
            </div>
        </div>

     
        <!-- carousal -->
        
<div class="container">
            
            
<div class="carousel"
   data-flickity='{ "lazyLoad": true}'>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="img/Group 28.svg" alt="Chadwick" />
  </div>

<div class="carousel-cell">
    <img class="carousel-cell-image" data-flickity-lazyload="img/Group 29.svg" alt="Rishi" />
</div>

<div class="carousel-cell">
    <img class="carousel-cell-image" data-flickity-lazyload="img/Group 30.svg" alt="Irfan" />
</div>
  
</div>



        </div>

    <div class="container" id="dis-btn">
        <div class="pref awesome regHead" id="cat">Categories</div>
        <div class="dis-btn2">
            <button id="5km" class="dis"> 5 km</button>
            <button id="10km" class="dis">10 km</button>
            <button id="21km" class="dis">21 km</button>
        </div>
        
    </div>

        <form class="container reg" id="form" name="submitForm">
            <h2 id="formID" class="pref awesome regHead" >Registration</h2>
            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="name" required placeholder="Name" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">Name</label>
            </div>

            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="contact" required placeholder="Phone Number" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">Phone Number</label>
            </div>

            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="mail" required placeholder="Email ID" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">Email ID</label>
            </div>

            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="address" required placeholder="Address" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">Address</label>
            </div>

            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="state" required placeholder="State" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">State</label>
            </div>

            <div class="my-1 mr-sm-2 col-md-12 input-name">
                <input type="text" class="form-control shadow-none" value="" id="country" required placeholder="Country" />
                <span class="underline-animation awesome2"></span>
                <label for="name" class="floating-label">Country</label>
            </div>

 

            <select class="input-name custom-select my-1 mr-sm-2 col-md-12" id="walkDistance">
                <option selected>Distance</option>
                <option value="1">5 km</option>
                <option value="2">10 km</option>
                <option value="3">21 km</option>
               
            </select>

            <div class="wrapper">
                <button type="button" id="submit" class="btn btn-outline-secondary submitbtn"
                class="g-recaptcha" 
                data-sitekey="6Le7FsoZAAAAAANrwEUEOcBbztOLRXABmeoPWUiF" 
                data-callback='onSubmit' 
                data-action='submit'>
                  Submit
                </button>
              </div>

        </form>

        <div class="container" id="footer">

            <p class="foo1">Made by</p>
            <p class="foo2">System Admin and Web Development, TT'20</p>

        </div>
</body>
<script src="js/main.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="https://www.google.com/recaptcha/api.js"></script>
</html>