@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

#form, #carousal, #footer, #dis-btn{
    background-image: url("../img/Mask\ Group.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 45%;
}

.container{
    width: 100%!important;
    height: 100vh;
    padding-left: 0px!important;
    
}

.c1 {
  margin-left: 0px!important;
}


#landing{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.upper{
    height: 20vh;
}

.walk{
    color: #F78B8C;
}
.main-head{
    padding-top: 10%;
    padding-left: 3%;
    font-size: 3rem;
    font-weight: 800;
}

.second-head{
    padding-left: 5%;
    font-size: 1.5rem;
    font-weight: 800;
    color: #9f9f9f;
}

/* .lower{
    height: 80vh;
} */

#landing-img{
    position: relative;
    width: 310%;
    left: -20%;
    height: 80vh;
    overflow: hidden;
}

#dets{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rose-img{
    height: 50vh;
    display: flex;
    justify-content: center;
}
#rose-img{
    width: 70%;
    height: 70%;
}

.rose-text{
   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    
    line-height: 39px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16rem;
    font-size: 1.7rem;
    text-align: left;
    margin-top: 1.6vh;
  
    color: #9F9F9F;
    
}

.emp{
    color: #F78B8C;
}

/* Form CSS */

.reg {
    position: relative;
    z-index: 10;
    text-align: left;
    padding-top: 8vh;
    padding-left: 26vw!important;
    padding-right: 19vw!important;
  }

  #dis-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    
  }

  #cat{
    margin-bottom: 22.5%;
    margin-left: 10vw!important;
  }

  .dis{
    margin-top: 12.5%;
    margin-bottom: 20%;;
    color: #9F9F9F;
    font-weight: 800;
    padding: 20px 40px;
    background-color: white;
    letter-spacing: 2px;
  }

  .dis-btn2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15vw!important;
  }

  .pref {
    font-size: 2rem;
    /*background: -webkit-linear-gradient(90.49deg, #fc01ef 0.08%, #fe01ad 99.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #878787;
    padding-top: 2.5rem;
    align-self: center;
    align-content: center;
    text-align: center;
   
  }

  .underline-animation {
    animation: pulse 20s infinite;
    transition: all 0.8s;
    display: inline-block;
    bottom: 0;
    left: -100%;
    position: absolute;
    width: 98%;
    height: 3px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-bottom: 0vh;
    height: 3px;
    background-color: #F78B8C;
   
  }
  
  .input-name > input[type="text"]:focus + .underline-animation {
    left: 0px;
  }

  input[type="text"]:focus {
    box-shadow: none;
    background: transparent;
  }


  input:focus ~ .floating-label {
    display: inline;
    top: 6px;
    bottom: 10px;
    left: 16px;
    font-size: 11px;
    opacity: 1;
  }
  
  /* if you want to show label after value has been added */
  input:not(:placeholder-shown) ~ .floating-label {
    display: inline;
    top: 6px;
    bottom: 10px;
    left: 16px;
    font-size: 11px;
    opacity: 1;
    color: #F78B8C;
  }
  
  .inputText {
    font-size: 14px;
    width: 200px;
    height: 35px;
    
  }
  input:focus::placeholder {
    color: transparent;
    
  }
  
  .floating-label {
    display: none;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 20px;
    transition: 0.2s ease all;
    color: #F78B8C;
    font-family: Open Sans;
    font-style: normal;
    
  }



  
.input-name {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 3vh !important;
    padding-top: 1rem;
    outline: none!important;
    border-top: none!important;
   
  }
  .input-name > input[type="text"] {
    border: none;
    box-shadow: none;
    background: transparent;
   
    border-bottom: 2px solid #9F9F9F;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    outline: none;
  }


  select {
    background: transparent!important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-top: 2vh !important;
    border-bottom: 2px solid #9b9b9b !important;
    padding-left: 1.5vw !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  #walkDistance {
    margin-top: 2.7vh !important;
  }

  
.wrapper {
    text-align: center;
  }

  .btn-outline-secondary {
    margin-top: 8vh;
    width: 142px !important;
    
    font-size: 1.2rem;
    border-width: 0rem !important;
}

.btn-outline-secondary:hover {
    color:white!important;
    background-color:  #F78B8C !important;
   
}

  .btn {
    border: 2px solid #F78B8C!important;
    background-color: white;
    color:  #F78B8C!important;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }




  
  

/*.second-head-reg{
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    font-weight: 800;
    font-size: 1.75rem;
}

#form{
    display: flex;
    flex-direction: column;
}

.details{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
}

input:focus, select:focus{
    outline: none;
    border-bottom: 3px solid #F78B8C;
}
input,select{
    width: 60%;
    height: 4.5%;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    border-bottom: 1px solid black;
    font-size: medium;
    font-weight: 600;
}

input::placeholder,option,select{
    font-weight: 600;
    font-size: small;
}


button{
    font-weight: 600;
    font-size: 1rem;
    border: 3px solid #F78B8C;
    
    padding: 8px 25px 8px 25px;
    color: #F78B8C;
    background-color: white;
}*/

button:hover{
    color: white;
    background-color: #F78B8C;
    cursor: pointer;
}

/* Carousel CSS */


.carousel-cell {
  width: 66%;
  height: 600px;
  margin-right: 10px;
  background: white;
 
}

.carousel-cell-image {
  height: 100%;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

#footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foo1{
  font-style: normal;
font-weight: bold;
font-size: 1.5rem;
color: #9f9f9f;
padding-left: 5vw;
}

.foo2{
font-style: normal;
font-weight: bold;
font-size:3.5rem;
color: #F78B8C;
text-align: center;
padding-left: 8vw;
}
@media only screen and (min-width: 700px) {

.main-head{
    padding-top: 4%;
}

.second-head{
    padding-left: 3.2%;
}

#landing-img{
    left: -50%;
}

input::placeholder,option,select{
    font-weight: 600;
    font-size: medium;
}
input,select{
    width: 54%;
    height: 4.5%;
}
#dets{
    flex-direction: row-reverse;
}
.rose-img{
    width: 50vw;
    height: 100vh;
}

  #rose-img{
      padding-top: 30%;
  }
  .rose-text{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .dis-btn2{
    flex-direction: row;
    
  }
  .dis{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 2rem;
    white-space: nowrap;
   
  }
  .pref{
    font-size: 3.5rem;
  }
}

/*footer*/





@media only screen and (min-width: 1200px) {

    #rose-img{
    height: 60%;
}

#landing-img{
    width: 100%;
    left: 0%;
}
    input::placeholder,option,select{
    font-weight: 600;
    font-size: medium;
}
input,select{
    width: 35%;
    height: 4.5%;
}
.carousel-cell-image {
  height: 100%;
  width: 120%;
}
}


@media screen and (min-width: 0px) and (max-width: 750px) and (orientation: portrait) 
{


    .rose-text {
     font-size: 1.5rem;
     line-height:5.7vh;
     padding-left: 4vw!important;
    }

    .roseR {
      padding-left: 10vw!important;
    }

    .regHead {
      padding-left:0!important;
    }

    

    .submitbtn {
      margin-top: 16vh;
    }

    .foo1 {
      padding-top: 30vh;
      font-size: 1.7rem;
      margin-top:10vh!important;
     }
    
    .foo2 {
       margin-top: 5vh;
       font-size: 2rem;
       line-height: 50px;
    }
}
